{{define "scripts"}}
<script type="text/javascript" src="{{Static "js" "waterfall.js"}}?hash={{ StaticsMD5 }}"></script>
<script type="text/javascript">
  window.serverData = {{ .Data }};

// For sorting the builds in each version
function comp(a, b) {
    if (a.build_variant > b.build_variant) return 1;
    if (b.build_variant > a.build_variant) return -1;
    return 0;
  }

for (var i = 0; i < window.serverData.versions.length; i++) {
  var currVersion = window.serverData.versions[i];
  if (!currVersion.rolled_up)
  {
    var temp = currVersion.builds;
    window.serverData.versions[i].builds = temp.sort(comp);
  }
}
</script>

<!-- ReactJS libs -->
<script src="https://fb.me/react-15.2.0.js"></script>        
  <script src="https://fb.me/react-dom-15.2.0.js"></script>   
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>

{{end}}

{{define "title"}}
Evergreen - Waterfall
{{end}}

{{define "content"}}
<script type="text/babel">
//  var ReactTooltip = require("react-tooltip");


function getClassName(x){
  if(x.status=="success" || x.status=="inactive" || x.status =="undispatched" || x.status=="failed" || x.status=="started"){
    return x.status;
  }
  return ""
}

var BuildVariant = React.createClass({
  render: function(){
    var self = this;
    var toReturn; //have to case on whether its an inactive build or not
    var tasks;

    if (self.props.currVersion.rolled_up){
      return (
      <div className="col-xs-2 inactive-build">inactive build</div>
      )
    } 
    else {
    tasks = window.serverData.versions[self.props.versionIndex].builds[self.props.archIndex].tasks; 
  var taskStyle = {
          clear: 'both'
              };
    }
      
      return (
      <div className="col-xs-2">
        {
          tasks.map(function(x){
            return <div className="waterfall-box" key={x.id}><a href={"/task/"+x.id} className={"task-result " + getClassName(x)}></a> </div>
          })
        }
      </div>
      )
  }
});

var Architecture = React.createClass({
  render: function(){
    var self = this;
    var currArch = self.props.arch;
 //   console.log(currArch);
    var currName =window.serverData.versions[1].builds[self.props.archIndex].build_variant; 
 //   console.log(currName);
//    console.log(window.serverData.versions[1].builds[self.props.archIndex].id);


    var test = window.serverData.versions[1].builds[self.props.archIndex].variant_id; 
 //   console.log("should work " + test);
    var buildColStyle = {
      'textAlign': 'right'
    };
    return (
    <div className="row">
      <div className={"col-xs-2" + " build-variant-name"} style={buildColStyle}> {/*the column of build variant (architecture) names*/}
         <a href={"/build_variant/" + project + "/" + test}>
          {currArch} 
           </a> 
      </div>
      <div> 
        {
          window.serverData.versions.map(function(x,i){
            return <BuildVariant archIndex={self.props.archIndex} currVersion={x} versionIndex={i}  key={i}/>
          })
        }
      </div>
    </div>
    )
  }
});

var Grid = React.createClass({
  render: function(){
    var self = this;
    var architectures = window.serverData.build_variants.sort();
    var archStyle = {
    };
    return (
    <div>
      <div>
        {
          architectures.sort().map(function(x, i){
            {console.log("hi");}
            return <Architecture className={"row"} title={x} archIndex={i} style={archStyle} key={i} arch={x}/>
          })
        }
      </div>
      <br/>
    </div>
    )
  }
  });

var VersionHeader = React.createClass({
  render: function(){
    return (
    <div className="col-xs-2">header</div>
    )
  }
});

var Headers = React.createClass({
  render: function(){
    console.log("hi");
    return (
    <div className="row">
      <div className="col-xs-2">
        Variant
      </div>
      {
        window.serverData.versions.map(function(x){
        return <VersionHeader key={x.ids[0]}/>
        })
      }
      <br/>
    </div>
    )
  }
});


ReactDOM.render(
  <Grid></Grid>, document.getElementById('root')
  );

ReactDOM.render(
  <Headers></Headers>, document.getElementById('headers')
  );


</script>


<div id="headers"></div>

<br/>
gfdg
<div id="root"></div>



{{end}}
