{{define "scripts"}}
<!-- ReactJS libs -->
<script src="https://fb.me/react-15.2.0.js"></script>        
<script src="https://fb.me/react-dom-15.2.0.js"></script>   
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>

<script type="text/javascript">
  window.serverData = {{ .Data }};
</script>

<script type="text/javascript" src="{{Static "js" "waterfall.js"}}?hash={{ StaticsMD5 }}"></script>

{{end}}

{{define "title"}}
Evergreen - Waterfall
{{end}}

{{define "content"}}
<div id="headers"></div>
<div id="root"></div>

<script type="text/javascript" src="{{Static "js" "waterfall-render.js"}}?hash={{ StaticsMD5 }}"></script>

<!-- Either we have the above line, or something like the inline script below, which is JS not JSX -->
<!--
<script type="text/javascript">
ReactDOM.render(
  React.createElement(Headers, null),
  document.getElementById('headers')
);
ReactDOM.render(
  React.createElement(Grid, null),
  document.getElementById('root')
);
</script>
-->
{{end}}
